os
asyncio
discord
random
discord.ext.commands
discord.ext.commands.Bot
discord.utils.get
typing
aiohttp
requests
urllib.request
json
time
datetime
platform
sys
logging
pyfiglet.figlet_format
pyfiglet.FontNotFound
